<div class="flex justify-center items-center">
  <div class="w-full sm:max-w-sm ">
    <div class="flex w-full justify-center py-4">
      <%= heroicon "academic-cap", options: { class: "text-seafoam-400 w-24" } %>
    </div>

    <%= yield %>

  </div>
</div>
