<div class="border-gray-200 border rounded-md p-10">
  <div class="flex flex-col items-center my-10">
    <h1><%= t(".hero.title") %></h1>
    <p><%= t(".hero.description") %></p>
  </div>
  <div class="flex gap-4 justify-center">
    <%= link_to t(".cta.documents"), documents_path, class: "rounded-lg py-3 px-5 bg-ultramarine-blue-400 hover:brightness-110 text-white block font-medium w-fit" %>

    <% if policy(User).index? %>
      <%= link_to t(".cta.students"), users_path, class: "rounded-lg py-3 px-5 bg-ultramarine-blue-400 hover:brightness-110 text-white block font-medium w-fit" %>
    <% end %>
  </div>
</div>
